#bg{
    position: absolute;
    top: 200px;
    left: 550px;
    height: 500px;
    width: 450px;
}

#boq{
     position: absolute;
    top: 170px;
    left: 600px;
    height: 550px;
    width: 350px;
}

.head1{
    color: pink;
    font-size: 50px;
    font-family: 'Segoe Script' !important;
}

 .card1{
            width: 230px;
            height: 90px;
            background-color: white;
            border-radius: 20px;
            position: absolute;
            top: 280px;
            left: 150px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 30px
        }

.p1{
    font-size: 30px;
    color: red;
    font-family: "Brush script MT";
    position: absolute;
    top: 10px;
    left: 5px;
}

#dod{
    position: absolute;
    left: 170px;
    top: 370px;
    width: 170px;
    height: 120px;
}

#dod2{
    position: absolute;
    left: 270px;
    top: 370px;
    width: 170px;
    height: 120px;
}

.card2{
            width: 230px;
            height: 90px;
            background-color: white;
            border-radius: 20px;
            position: absolute;
            top: 560px;
            left: 150px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 30px
        }

.card3{
            width: 230px;
            height: 90px;
            background-color: white;
            border-radius: 20px;
            position: absolute;
            top: 100px;
            left: 1150px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 30px
        }

#letter{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 1190px;
    top: 170px;
}

.card4{
            width: 230px;
            height: 90px;
            background-color: white;
            border-radius: 20px;
            position: absolute;
            top: 380px;
            left: 1150px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 30px
        }

#mee{
    position: absolute;
    height: 180px;
    width:250px;
    top: 550px;
    left: 1150px;
}