.txt{
    color: pink;
    font-family: 'Segoe Script';
    font-size: 50px;
}

.txt2{
    color: pink;
    font-family: 'Brush script MT';
    font-size: 40px;
}

#vid{
     width: 600px;
     
     aspect-ratio: 9 / 9;      
     margin-left: 450px;
}

#vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#r{
    position: absolute;
    top: 250px;
    left: 1100PX;
}

#r2{
    position: absolute;
    top: 200px;
    left: 50px;
}
#cl{
    position: absolute;
    top: 100px;
    left: 1100px;
    height: 200px;
    width: 350px;
}

